body {
	background-color: #83c73c;
	top: 50%;
	left: 50%;
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 0;
    	margin-right: -50%;
    	transform: translate(-50%, -150%);
	height: 100vh;
	width: 100vw;
	position: relative;
}

.rectangle {
	margin: none;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #83c73c;
	border-style: none;
	position: absolute;
	z-index: 1;
}

div {
	z-index: 2;
}

div2 {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 2;
}

p {
	margin: none;
	font-size: 600%;
	z-index: 2;
}

p1 {
	margin: none;
	font-size: 400%;
	z-index: 2;
}

a:link {
	color: black;
}

a:visited {
	color: #83c73c;
}

a:hover {
	color: white;
}

a:active {
	color: blue;
}
