body {
	background-color: #83c73c;
}

.rectangle {
	height: 100vh;
	width: 100vh;
	background-color: #83c73c;
	border-style: none;
	position: relative;
	z-index: 1;
}

div {
	z-index: 2;
}

div2 {
	top: 0;
	left: 0;
	height: 100ph;
	width: 100ph;
	z-index: 2;
	position: absolute;
}

p {
	font-size: 600%;
}

p1 {
	text-align: center;
	vertical-align: middle;
	font-size: 400%;
	z-index: 2;
}

a:link {
	color: black;
}

a:visited {
	color: #83c73c;
}

a:hover {
	color: white;
}

a:active {
	color: blue;
}
