body {
  background-color: #83c73c;
}

.rectangle {
  height: 100vh;
  width: 100vh;
  background-color: #83c73c;
  border-style: none;
  position: relative;
  z-index: 1;
}

div {
  z-index: 2;
}

p1 {
  text-align:center;
  font-size:300%;
  margin-top:300px;
}


a:link {
  color: black;
}
a:visited {
  color: #83c73c;
}
a:hover {
  color: white;
}
a:active {
  color: blue;
}
